<h1>{{title}}</h1>
{{#each alunos.content}}
<ul>
    <li><b>Nome:</b>{{Nome}}</li>
    <li><b>Matricula:</b>{{Matricula}}</li>
    <li><b>Data de Nascimento:</b>{{data_nascimento}}</li>
    <li><b>Enderenço de email:</b>{{email}}</li>
    
</ul>
{{/each}}
